[workspace]
members = ["basalt", "basalt-*"]
resolver = "2"

[workspace.dependencies]
similar-asserts = "1.7.0"

[profile.ci]
inherits = "dev"
opt-level = 0

[profile.dev]
split-debuginfo = "unpacked"

[profile.dev.build-override]
opt-level = 3
