name: Release

on:
  workflow_dispatch:
  push:
    tags:
      - 'basalt/v*.*.*'

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

permissions: {}

jobs:
  build:
    uses: ./.github/workflows/build.yml

  release:
    name: Release
    needs: build

    permissions:
      contents: write # Needed to create releases and update files

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Download artifacts
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          path: ./release-artifacts
          pattern: artifacts-*
          merge-multiple: true

      - name: Upload artifact and checksum to existing GitHub release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        shell: bash
        run: |
          ref_name="${GITHUB_REF_NAME}"

          gh release upload "${ref_name}" ./release-artifacts/* --clobber

