name: Release

on:
  workflow_dispatch:
    inputs:
      tag:
        description: Release tag
        required: true
        type: string
  push:
    tags:
      - 'basalt/v*.*.*'

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

permissions: {}

jobs:
  build:
    uses: ./.github/workflows/build.yml

  release:
    name: Release
    needs: build

    permissions:
      contents: write # Needed to create releases and update files

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Download artifacts
        uses: actions/download-artifact@70fc10c6e5e1ce46ad2ea6f2b72d43f7d47b13c3 # v8.0.0
        with:
          path: ./release-artifacts
          pattern: artifacts-*
          merge-multiple: true

      - name: Upload artifact and checksum to existing GitHub release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          REF_NAME: ${{ inputs.tag || github.ref_name }}
        shell: bash
        run: |
          gh release upload "${REF_NAME}" ./release-artifacts/* --clobber

