name: Renovate

on:
  push:
    branches: 
      - main
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:
    inputs:
      log_level:
        description: 'Log level'
        required: false
        default: 'info'
        type: choice
        options:
          - info
          - debug
          - warn

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

permissions: {}

jobs:
  renovate:
    name: Renovate
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
          sparse-checkout: |
            .cargo
            .github
            basalt/Cargo.toml
            basalt-core/Cargo.toml
            basalt-widgets/Cargo.toml
            Cargo.lock
            Cargo.toml
            README.md
            renovate-config.json
            rust-toolchain.toml
          sparse-checkout-cone-mode: false


      - uses: actions/create-github-app-token@67018539274d69449ef7c02e8e71183d1719ab42 # v2.1.4
        id: app-token
        with:
          app-id: ${{ vars.RENOVATE_APP_ID }}
          private-key: ${{ secrets.RENOVATE_APP_PRIVATE_KEY }}

      - name: Run renovate
        uses: renovatebot/github-action@a3c115cd6676c8a5bc72f9715f108759e570daf5 # v43.0.19
        env:
          RENOVATE_REPOSITORIES: ${{ github.repository }}
          LOG_LEVEL: ${{ github.event.inputs.log_level || 'info' }}
        with:
          renovate-version: 41.168.5
          configurationFile: renovate-config.json
          token: '${{ steps.app-token.outputs.token }}'
