name: Test

on: 
  push:
    branches:
      - main
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

permissions: {}

env:
  CARGO_TERM_COLOR: always
  CARGO_INCREMENTAL: 0
  RUST_BACKTRACE: 1

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        persist-credentials: false

    - name: Toolchain
      run: rustup toolchain install

    - name: Cache
      uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
      with:
        path: |
          ~/.cargo/registry
          ~/.cargo/git
          target
        key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

    - name: Format check
      run: make fmt-check

    - name: Check
      run: cargo check --locked --profile ci --workspace --all-targets

    - name: Clippy
      run: cargo clippy --profile ci --workspace --all-targets -- -D warnings

    - name: Test
      run: cargo test --profile ci --workspace --all-targets

    - name: Build and Package
      run: |
        cargo build --profile ci
        cargo package --no-verify
